# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [147]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint


# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
# Import the clean_city_data from CSV
clean_city_data = pd.read_csv('../Resources/clean_city_data.csv', encoding='utf-8')
del clean_city_data['Unnamed: 0']
clean_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Thompson,55.74,-97.86,13.00,71.0,75.0,4.10,CA,1.601410e+09
1,Ainring,47.82,12.95,12.00,87.0,75.0,1.50,DE,1.601410e+09
2,Rikitea,-23.12,-134.97,21.35,78.0,54.0,9.75,PF,1.601410e+09
3,Busselton,-33.65,115.33,13.33,86.0,87.0,3.42,AU,1.601410e+09
4,Puerto Ayora,-0.74,-90.35,25.00,61.0,75.0,6.20,EC,1.601410e+09
5,Rikitea,-23.12,-134.97,21.35,78.0,54.0,9.75,PF,1.601410e+09
6,Yar-Sale,66.83,70.83,4.72,76.0,97.0,2.75,RU,1.601410e+09
7,Hasaki,35.73,140.83,16.11,82.0,75.0,4.60,JP,1.601410e+09
8,Cape Town,-33.93,18.42,13.89,66.0,0.0,6.20,ZA,1.601410e+09
9,Yellowknife,62.46,-114.35,7.00,81.0,75.0,7.70,CA,1.601410e+09
10,Lipari,38.47,14.95,20.00,84.0,69.0,0.89,IT,1.601410e+09
11,Shingū,33.73,135.98,17.32,86.0,63.0,2.30,JP,1.601410e+09
12,Bredasdorp,-34.53,20.04,10.00,81.0,1.0,1.00,ZA,1.601410e+09
13,Parabel',58.70,81.48,1.10,90.0,100.0,2.49,RU,1.601410e+09
14,Hermanus,-34.42,19.23,10.56,85.0,17.0,2.89,ZA,1.601410e+09
15,São Filipe,14.90,-24.50,26.73,76.0,14.0,4.86,CV,1.601410e+09
16,Saint George,37.10,-113.58,30.00,11.0,1.0,2.60,US,1.601410e+09
17,Forio,40.73,13.86,19.00,67.0,20.0,1.00,IT,1.601410e+09
18,Vaini,-21.20,-175.20,25.00,88.0,75.0,3.10,TO,1.601410e+09
19,Ayan,56.45,138.17,7.53,75.0,72.0,4.11,RU,1.601410e+09
20,Mataura,-46.19,168.86,6.67,85.0,100.0,4.02,NZ,1.601410e+09
21,Meulaboh,4.14,96.13,25.15,88.0,100.0,2.07,ID,1.601411e+09
22,Mataura,-46.19,168.86,6.67,85.0,100.0,4.02,NZ,1.601410e+09
23,Albany,42.60,-73.97,18.00,77.0,75.0,7.20,US,1.601411e+09
24,Rikitea,-23.12,-134.97,21.35,78.0,54.0,9.75,PF,1.601410e+09
25,Castro,-24.79,-50.01,27.15,57.0,57.0,2.02,BR,1.601410e+09
26,Malibu,34.01,-118.81,26.11,68.0,0.0,1.79,US,1.601411e+09
27,Bluff,-46.60,168.33,6.67,85.0,97.0,4.92,NZ,1.601411e+09
28,Hong Kong,22.29,114.16,27.78,86.0,20.0,3.83,HK,1.601410e+09
29,Olavarría,-36.89,-60.32,21.67,47.0,12.0,1.79,AR,1.601411e+09
30,Mataura,-46.19,168.86,6.67,85.0,100.0,4.02,NZ,1.601410e+09
31,Hailun,47.45,126.93,5.15,86.0,0.0,1.46,CN,1.601411e+09
32,Mar del Plata,-38.00,-57.56,24.00,33.0,0.0,7.20,AR,1.601411e+09
33,Poum,-20.23,164.02,20.81,72.0,1.0,8.62,NC,1.601410e+09
34,Pangody,65.85,74.49,3.02,86.0,81.0,3.73,RU,1.601411e+09
35,Bara,10.37,10.73,22.16,90.0,37.0,2.87,NG,1.601411e+09
36,Nishifukuma,33.77,130.47,18.33,88.0,63.0,0.50,JP,1.601411e+09
37,Jamestown,42.10,-79.24,16.11,71.0,40.0,2.10,US,1.601410e+09
38,Bengkulu,-3.80,102.27,24.24,88.0,96.0,3.55,ID,1.601410e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [75]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [76]:
# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_data[["Lat", "Lng"]].astype(float)
# locations
humidity = clean_city_data["Humidity"].astype(float)
# humidity

# Create Humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [40]:
clean_city_data.head(1)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Thompson,55.74,-97.86,13.0,71.0,75.0,4.1,CA,1.601410e+09

In [48]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

# A max temperature lower than 30 degrees but higher than 20 Celsius.
# # Wind speed less than 10 mph.
# # Zero cloudiness.

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned 
# by your API requests to a reasonable number.

In [47]:
ideal_weather = clean_city_data.loc[(
    (clean_city_data['Max Temp'] > 20) & (clean_city_data['Max Temp'] < 30) 
    & (clean_city_data['Wind Speed'] < 10) & (clean_city_data['Cloudiness'] == 0))]
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
26,Malibu,34.01,-118.81,26.11,68.0,0.0,1.79,US,1.601411e+09
32,Mar del Plata,-38.00,-57.56,24.00,33.0,0.0,7.20,AR,1.601411e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
# Store ideal_weather cities into variable named hotel_df
hotel_df = pd.DataFrame(ideal_weather)
hotel_df.reset_index(drop=True)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Malibu,34.01,-118.81,26.11,68.0,0.0,1.79,US,1.601411e+09
1,Mar del Plata,-38.00,-57.56,24.00,33.0,0.0,7.20,AR,1.601411e+09

In [151]:
# Set parameters to search for hotels within 5000 meters.
# geocoordinates
target_coordinates = "34.01,-118.81"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params).json()
pprint.pprint(response)

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 34.0166744, 'lng': -118.815994},
                           'viewport': {'northeast': {'lat': 34.01811422989272,
                                                      'lng': -118.8149439701073},
                                        'southwest': {'lat': 34.01541457010727,
                                                      'lng': -118.8176436298928}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
              'name': 'Malibu Country Inn',
              'photos': [{'height': 3464,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/103690878833767175900">leslie '
                                                'telles</a>'],
                          'photo_reference': 'CmRaAAAAcgmtufEY4D1NCs5abA5bE_fKNFqEg5qHgafzs9OoSr0HmXjxtvXdQcywNwTEFQUnLDLU9AHe-2XWndJN8fRWv_Q7Oz2XpQhD0hw6k0hS1yXcv8VxcM2jwENvK1tKK-gEEhDUaA77oq5lmk8RdakaOnmMGhTwsctl7LpH3N1cZ-Vv9ELeHTnpog',
                          'width': 4618}],
              'place_id': 'ChIJqaEvtFkY6IARHbvr2a5BF14',
              'plus_code': {'compound_code': '258M+MJ Malibu, California',
                            'global_code': '8563258M+MJ'},
              'rating': 4.1,
              'reference': 'ChIJqaEvtFkY6IARHbvr2a5BF14',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 149,
              'vicinity': '6506 Westward Beach Rd, Malibu'}],
 'status': 'OK'}

In [152]:
response['results'][0]['name']

'Malibu Country Inn'

In [180]:
# Hit the Google Places API for each city's coordinates.

# Update params variable
target_coordinates = ideal_locations

# Variable to store first result
hotels = []

# print("Beginning search for nearby hotels... \n-----------------------------")

# Loop through the cities_pd and run a lat/long search for each city (05-Stu_Google_Complex/Solved/Airport_Ratings)
for index, row in cities_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

# for location in ideal_locations:
#     try:
#         response = requests.get(base_url, params=params).json()
#         hotels.append(response['results'][0]['name'])
#         print(f"Searching hotels near {location}")
#     except KeyError:
#         print(f"X--X No hotels found. Skipping {location}...")
#         hotels.append(None)

In [173]:
# Store the first Hotel result into the DataFrame.
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Coords,Hotel Name
26,Malibu,34.01,-118.81,26.11,68.0,0.0,1.79,US,1.601411e+09,"[34.01, -118.81]",Malibu Country Inn
32,Mar del Plata,-38.00,-57.56,24.00,33.0,0.0,7.20,AR,1.601411e+09,"[-38.0, -57.56]",Malibu Country Inn

In [181]:
hotels

[]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info, display_info_box=None)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display figure
fig